**Step 1:** Install the required libraries.

In [23]:
!pip install tabula-py

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: tabula-py in /usr/local/lib/python3.8/dist-packages (2.6.0)
Requirement already satisfied: distro in /usr/local/lib/python3.8/dist-packages (from tabula-py) (1.8.0)
Requirement already satisfied: pandas>=0.25.3 in /usr/local/lib/python3.8/dist-packages (from tabula-py) (1.3.5)
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (from tabula-py) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.25.3->tabula-py) (2022.7)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.25.3->tabula-py) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas>=0.25.3->tabula-py) (1.15.0)

In [24]:
import tabula

**Step 2:** Specify the location of the desired document.

In [9]:
file = "/content/PR143.pdf"

**Step 3:** parse the pdf document and the page containing the table into the read_pdf function. This will extract a list of tables if present or generate an error if the page number passed contains no table.

In [31]:
table = tabula.read_pdf(file,pages=19)
print("Page passed contains {} tables".format(len(table)))

WARNING:tabula.io:Got stderr: Jan 18, 2023 8:29:33 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPSMT'
Jan 18, 2023 8:29:33 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans-Bold' for 'TimesNewRomanPS-BoldMT'
Jan 18, 2023 8:29:35 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPSMT'
Jan 18, 2023 8:29:35 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans-Bold' for 'TimesNewRomanPS-BoldMT'

Page passed contains 1 tables

**Step 4:** View table

In [32]:
table[0]

                                      Unnamed: 0             Residence
0                                         Result     Urban Rural Total
1                                            NaN        ALL HOUSEHOLDS
2                           Household interviews                   NaN
3                            Households selected  16,611 25,411 42,022
4                            Households occupied  14,870 23,861 38,731
5                         Households interviewed  14,330 23,581 37,911
6                                            NaN                   NaN
7                       Household response rate1        96.4 98.8 97.9
8                                            NaN                   NaN
9                Interviews with women age 15–49                   NaN
10                      Number of eligible women  13,129 20,750 33,879
11          Number of eligible women interviewed  12,386 19,770 32,156
12                                           NaN                   NaN
13                 Eligible women response rate2        94.3 95.3 94.9
14   HOUSEHOLDS SELECTED FOR FULL QUESTIONNAIRES                   NaN
15                          Household interviews                   NaN
16                           Households selected   8,657 13,312 21,969
17                           Households occupied   7,725 12,469 20,194
18                        Households interviewed   7,429 12,318 19,747
19                                           NaN                   NaN
20                      Household response rate1        96.2 98.8 97.8
21                                           NaN                   NaN
22               Interviews with women age 15–49                   NaN
23                      Number of eligible women   6,911 10,914 17,825
24          Number of eligible women interviewed   6,517 10,384 16,901
25                                           NaN                   NaN
26                 Eligible women response rate2        94.3 95.1 94.8
27                                           NaN                   NaN
28                 Interviews with men age 15–54                   NaN
29                        Number of eligible men   6,134 10,418 16,552
30            Number of eligible men interviewed    5,232 9,221 14,453
31                                           NaN                   NaN
32                   Eligible men response rate2        85.3 88.5 87.3
33  HOUSEHOLDS SELECTED FOR SHORT QUESTIONNAIRES                   NaN
34                          Household interviews                   NaN
35                           Households selected   7,954 12,099 20,053
36                           Households occupied   7,145 11,392 18,537
37                        Households interviewed   6,901 11,263 18,164
38                                           NaN                   NaN
39                      Household response rate1        96.6 98.9 98.0
40                                           NaN                   NaN
41               Interviews with women age 15–49                   NaN
42                      Number of eligible women    6,218 9,836 16,054
43          Number of eligible women interviewed    5,869 9,386 15,255
44                                           NaN                   NaN
45                 Eligible women response rate2        94.4 95.4 95.0

**Step 5:** Save table

In [35]:
table[0].to_csv('/content/Table_1.csv', index = False)